body{
    font-family: robot;
}

/*login*/
/*LoginButtons.js*/
#btn-resetPassword{
    position:relative;
    top:28.5rem;
}

/*FormLogin*/
#label-loginText{
 font-size: 20px;
}

/*LoginLayour*/
#div-footer{
    font-weight: bold;
}
#footer-icons{
    position: relative;
    top:8px;
    left:5px;
}

/*LoginReset*/

#h1-resetPasswordForm{
  font-size:24px;
}

#label-resetPasswordForm{
    font-size:17px;
    font-weight:normal;
}


/*END LOGIN FORM */